:root{

  --section-height: 600px;
  --section-width: 100%


}

hr{

  margin: 20px auto;
  width: 1180px;
  max-width: 100%;
  padding: 0 10px;

}
/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 10px 10px;
    width: 1200px;
    max-width: 100%;
  }
  /* # Header */


  .header{
    background-color: #ACD6E4;
    line-height: 50px;
    height: 585px;
  }

  .nav-bar{
    display: flex;
    justify-content: space-evenly;
  }

  .nav-element{
    vertical-align: middle;
    margin: 5px 0;
    padding: 0 5px;
  }

  .nav-element-container{
    border: 1px dotted black;
    display: flex;
    background-color: #D7A522;
  }

  .logo{
    justify-content: flex-start;
    width: 20%;
  }

  .link{
    justify-content: center;
    width: 60%;
  }

  .login{
    justify-content: flex-end;
    width: 20%;
  }

  .section-header{
    background-color: #010088;
    height: 500px;
    width: var(--section-width);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container{
    border: 1px dotted black;
    height: 400px;
    width: 1000px;
    background-color: #EC81EB;
  }

    /* # Section */

    .main>:nth-child(even){
      background-color: #D2D2D2;
    }

    .section{
      height: var(--section-height);
    }

    .inverted{
      flex-direction: row-reverse;
    }

    .section-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1200px;
      vertical-align: middle;
      height: 100%;
    }

    .container-element-one{
      height: 500px;
      width: 65%;
      background-color: #1E8FF7;
      border: 1px dotted black;
    }
  
    .container-element-two{
      height: 500px;
      width: 45%;
      background-color: #F9BFCB;
      border: 1px dotted black;
    }

    .big{
      height: 900px;
    }

    .container-big-element{
      height: 800px;
      width: 100%;
      background-color: #228822;
      border: 1px dotted black;
    }

     /* # Footer */

     .footer{
      background-color: #222629;
      line-height: 100px;
      height: 680px;
      }

      .upper-footer{
        display: flex;
        vertical-align: middle;    
      }

      .sub-info-container{
        border: 1px dotted white;
        width: 100%;
      }

      .info-container{
        height: 500px;
        border: 1px dotted black;
      }

      .sx{
        background-color: #EE8081;
        width: 20%;
      }

      .dx{
        background-color: #1FAFA6;
        width: 80%;
        display: flex;
      }

      .end-container{
        background-color: #7FFED5;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
      }

      .end-item{
        margin: auto 0;
        height: 50px;
        width: 50px;
        border: 1px dotted black;
      }